

	
<div class="ecmCenterPane">
	
	<div style="text-align:right;"><div dojoAttachPoint="_connectedServer"></div></div>
	
													
	

	  					<div dojoAttachPoint="_displayReportGrid">
	
	</div>
	<div>
	
	<table>
	
	
						    					
						    					<tr>
							    					
												
												
													
							    				
												
							    					<td>
							    				<button  dojoAttachPoint="downloadReport" dojoType="dijit.form.Button" dojoAttachEvent="onClick:_downloadData">Download ATP Report</button>
													</td>
													<!-- <td>
													<button  dojoAttachPoint="exportReport"  dojoType="dijit.form.Button" dojoAttachEvent="onClick:_exportData">Export Data</button>
													</td> -->
												</tr>
												
												
	
	</table>
	
	</div>
	
	
	<!-- <div class="searchDialog" dojoAttachPoint="_dialogbox" style="height:100%;
	width:100%">
	dojoAttachEvent="onChange: _serverSelected"
	</div> -->

	
	
	
	
	
	</div>
	